<page-header [title]="'探头分组'" syncTitle="true" [logo]="logo" [action]="action" [extra]="extra">
    <ng-template #logo>
        <img src="../../../../assets/image/info-logo.png" />
    </ng-template>
    <ng-template #action>
        <nz-button-group>
            <button nz-button>操作</button>
            <button nz-button>操作</button>
        </nz-button-group>
        <button nz-button nz-dropdown [nzDropdownMenu]="opMenu" class="mx-sm">
            <i nz-icon nzType="ellipsis"></i>
        </button>
        <nz-dropdown-menu #opMenu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item>选项一</li>
                <li nz-menu-item>选项二</li>
                <li nz-menu-item>选项三</li>
            </ul>
        </nz-dropdown-menu>
        <button nz-button [nzType]="'primary'">主操作</button>
    </ng-template>
    <ng-template #extra>
        <div nz-row>
            <div nz-col nzXs="24" nzSm="24">
                <p class="text-grey">状态</p>
                <p class="text-lg">待审批</p>
            </div>
        </div>
    </ng-template>
    <sv-container size="small" col="2">
        <sv label="编码">{{probeGroup.code}}</sv>
        <sv label="设备编码">{{probeGroup.deviceCode}}</sv>
        <sv label="排序编号 从1开始">{{probeGroup.sortNum}}</sv>
        <sv label="分组名称">{{probeGroup.name}}</sv>
        <sv label="">{{probeGroup.isDel}}</sv>
        <sv label="设备业务编码">{{probeGroup.deviceBusCode}}</sv>
    </sv-container>
</page-header>
<nz-card [nzBordered]="false" [nzHoverable]="true">
    <sv-container size="large" title="设备编码">
        <sv label="经度">{{probeGroup.device?.gpsLng}}</sv>
        <sv label="系统code">{{probeGroup.device?.code}}</sv>
        <sv label="分组数量">{{probeGroup.device?.groupCount}}</sv>
        <sv label="设备编码">{{probeGroup.device?.deviceCode}}</sv>
        <sv label="设备名称">{{probeGroup.device?.name}}</sv>
        <sv label="">{{probeGroup.device?.isDel}}</sv>
        <sv label="探头数量">{{probeGroup.device?.probeCount}}</sv>
        <sv label="纬度">{{probeGroup.device?.gpsLat}}</sv>
        <sv label="设备类型">{{probeGroup.device?.type}}</sv>
        <sv label="所在区域">{{probeGroup.device?.areaId}}</sv>
        <sv label="状态">{{probeGroup.device?.status}}</sv>
    </sv-container>
    <nz-divider></nz-divider>

    <sv-container size="large" title="探头">
        <st [columns]="groupProbesColumns" [data]="groupProbes" [loading]="groupProbesLoading">
            <ng-template st-row="status" let-i>
                <nz-badge *ngIf="i.status === 'success'" [nzStatus]="'success'" [nzText]="'成功'"></nz-badge>
                <nz-badge *ngIf="i.status !== 'success'" [nzStatus]="'processing'" [nzText]="'进行中'"></nz-badge>
            </ng-template>
        </st>
    </sv-container>
    <nz-divider></nz-divider>
</nz-card>
