<page-header [title]="'权限'" syncTitle="true" [logo]="logo" [action]="action" [extra]="extra">
    <ng-template #logo>
        <img src="../../../../assets/image/info-logo.png" />
    </ng-template>
    <ng-template #action>
        <nz-button-group>
            <button nz-button>操作</button>
            <button nz-button>操作</button>
        </nz-button-group>
        <button nz-button nz-dropdown [nzDropdownMenu]="opMenu" class="mx-sm">
            <i nz-icon nzType="ellipsis"></i>
        </button>
        <nz-dropdown-menu #opMenu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item>选项一</li>
                <li nz-menu-item>选项二</li>
                <li nz-menu-item>选项三</li>
            </ul>
        </nz-dropdown-menu>
        <button nz-button [nzType]="'primary'">主操作</button>
    </ng-template>
    <ng-template #extra>
        <div nz-row>
            <div nz-col nzXs="24" nzSm="24">
                <p class="text-grey">状态</p>
                <p class="text-lg">待审批</p>
            </div>
        </div>
    </ng-template>
    <sv-container size="small" col="2">
        <sv label="父节点">{{power.parentId}}</sv>
        <sv label="名称">{{power.name}}</sv>
        <sv label="逻辑删除">{{power.isDel}}</sv>
        <sv label="类型 1 展示类  2 操作类">{{power.type}}</sv>
        <sv label="访问地址">{{power.url}}</sv>
        <sv label="访问key">{{power.key}}</sv>
    </sv-container>
</page-header>
<nz-card [nzBordered]="false" [nzHoverable]="true">
    <sv-container size="large" title="父节点">
        <sv label="父节点">{{power.parent?.parentId}}</sv>
        <sv label="名称">{{power.parent?.name}}</sv>
        <sv label="逻辑删除">{{power.parent?.isDel}}</sv>
        <sv label="类型 1 展示类  2 操作类">{{power.parent?.type}}</sv>
        <sv label="访问地址">{{power.parent?.url}}</sv>
        <sv label="访问key">{{power.parent?.key}}</sv>
    </sv-container>
    <nz-divider></nz-divider>

    <sv-container size="large" title="权限分组多对多">
        <st [columns]="powerPowerHasGroupsColumns" [data]="powerPowerHasGroups" [loading]="powerPowerHasGroupsLoading">
            <ng-template st-row="status" let-i>
                <nz-badge *ngIf="i.status === 'success'" [nzStatus]="'success'" [nzText]="'成功'"></nz-badge>
                <nz-badge *ngIf="i.status !== 'success'" [nzStatus]="'processing'" [nzText]="'进行中'"></nz-badge>
            </ng-template>
        </st>
    </sv-container>
    <nz-divider></nz-divider>
    <sv-container size="large" title="权限">
        <st [columns]="parentPowersColumns" [data]="parentPowers" [loading]="parentPowersLoading">
            <ng-template st-row="status" let-i>
                <nz-badge *ngIf="i.status === 'success'" [nzStatus]="'success'" [nzText]="'成功'"></nz-badge>
                <nz-badge *ngIf="i.status !== 'success'" [nzStatus]="'processing'" [nzText]="'进行中'"></nz-badge>
            </ng-template>
        </st>
    </sv-container>
    <nz-divider></nz-divider>
</nz-card>
