<nz-card [nzBordered]="false" [nzLoading]="loading">
  <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container size="compact" gutter="24">
        <se label="所在区域" error="请选择所在区域" required>
        <nz-select [(ngModel)]="device.areaId" formControlName="areaId" [nzPlaceHolder]="'请选择区域'" [nzShowSearch]="true">
            <nz-option *ngFor="let area of areas" [nzLabel]="area.id" [nzValue]="area.id"></nz-option>
        </nz-select>
    </se>
    <se label="经度" error="请输入经度" required>
      <input nz-input [(ngModel)]="device.gpsLng" formControlName="gpsLng" name="gpsLng" id="gpsLng" placeholder="经度" />
    </se>
    <se label="系统code" error="请输入系统code" required>
      <input nz-input [(ngModel)]="device.code" formControlName="code" name="code" id="code" placeholder="系统code" />
    </se>
    <se label="分组数量" error="请输入分组数量" required>
      <input nz-input [(ngModel)]="device.groupCount" formControlName="groupCount" name="groupCount" id="groupCount" placeholder="分组数量" />
    </se>
    <se label="设备编码" error="请输入设备编码" required>
      <input nz-input [(ngModel)]="device.deviceCode" formControlName="deviceCode" name="deviceCode" id="deviceCode" placeholder="设备编码" />
    </se>
    <se label="设备名称" error="请输入设备名称" required>
      <input nz-input [(ngModel)]="device.name" formControlName="name" name="name" id="name" placeholder="设备名称" />
    </se>
    <se label="" error="请输入" required>
      <input nz-input [(ngModel)]="device.isDel" formControlName="isDel" name="isDel" id="isDel" placeholder="" />
    </se>
    <se label="探头数量" error="请输入探头数量" required>
      <input nz-input [(ngModel)]="device.probeCount" formControlName="probeCount" name="probeCount" id="probeCount" placeholder="探头数量" />
    </se>
    <se label="纬度" error="请输入纬度" required>
      <input nz-input [(ngModel)]="device.gpsLat" formControlName="gpsLat" name="gpsLat" id="gpsLat" placeholder="纬度" />
    </se>
    <se label="设备类型" error="请输入设备类型" required>
      <input nz-input [(ngModel)]="device.type" formControlName="type" name="type" id="type" placeholder="设备类型" />
    </se>
    <se label="状态" error="请输入状态" required>
      <input nz-input [(ngModel)]="device.status" formControlName="status" name="status" id="status" placeholder="状态" />
    </se>
    <se>
      <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="loading">提交</button>
      <button nz-button class="ml-sm" type="button" (click)="close($event)">取消</button>
    </se>
  </form>
</nz-card>
