<page-header [title]="'用户分组多对多'" syncTitle="true" [logo]="logo" [action]="action" [extra]="extra">
    <ng-template #logo>
        <img src="../../../../assets/image/info-logo.png" />
    </ng-template>
    <ng-template #action>
        <nz-button-group>
            <button nz-button>操作</button>
            <button nz-button>操作</button>
        </nz-button-group>
        <button nz-button nz-dropdown [nzDropdownMenu]="opMenu" class="mx-sm">
            <i nz-icon nzType="ellipsis"></i>
        </button>
        <nz-dropdown-menu #opMenu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item>选项一</li>
                <li nz-menu-item>选项二</li>
                <li nz-menu-item>选项三</li>
            </ul>
        </nz-dropdown-menu>
        <button nz-button [nzType]="'primary'">主操作</button>
    </ng-template>
    <ng-template #extra>
        <div nz-row>
            <div nz-col nzXs="24" nzSm="24">
                <p class="text-grey">状态</p>
                <p class="text-lg">待审批</p>
            </div>
        </div>
    </ng-template>
    <sv-container size="small" col="2">
    </sv-container>
</page-header>
<nz-card [nzBordered]="false" [nzHoverable]="true">
    <sv-container size="large" title="分组">
        <sv label="组名">{{groupHasAccount.group?.name}}</sv>
        <sv label="逻辑删除">{{groupHasAccount.group?.isDel}}</sv>
        <sv label="角色">{{groupHasAccount.group?.roleId}}</sv>
        <sv label="职位">{{groupHasAccount.group?.positionId}}</sv>
    </sv-container>
    <nz-divider></nz-divider>
    <sv-container size="large" title="用户">
        <sv label="密码">{{groupHasAccount.account?.password}}</sv>
        <sv label="编码">{{groupHasAccount.account?.code}}</sv>
        <sv label="手机号">{{groupHasAccount.account?.mobile}}</sv>
        <sv label="姓名">{{groupHasAccount.account?.name}}</sv>
        <sv label="逻辑删除">{{groupHasAccount.account?.isDel}}</sv>
        <sv label="账号">{{groupHasAccount.account?.account}}</sv>
        <sv label="状态 0 正常 1 冻结">{{groupHasAccount.account?.status}}</sv>
    </sv-container>
    <nz-divider></nz-divider>

</nz-card>
