<nz-card [nzBordered]="false" [nzLoading]="loading">
  <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container size="compact" gutter="24">
        <se label="分组" error="请选择分组" required>
        <nz-select [(ngModel)]="groupHasAccount.groupId" formControlName="groupId" [nzPlaceHolder]="'请选择用户分组'" [nzShowSearch]="true">
            <nz-option *ngFor="let group of groups" [nzLabel]="group.id" [nzValue]="group.id"></nz-option>
        </nz-select>
    </se>
    <se label="用户" error="请选择用户" required>
        <nz-select [(ngModel)]="groupHasAccount.accountId" formControlName="accountId" [nzPlaceHolder]="'请选择用户账号'" [nzShowSearch]="true">
            <nz-option *ngFor="let account of accounts" [nzLabel]="account.id" [nzValue]="account.id"></nz-option>
        </nz-select>
    </se>
    <se>
      <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="loading">提交</button>
      <button nz-button class="ml-sm" type="button" (click)="close($event)">取消</button>
    </se>
  </form>
</nz-card>
