<page-header [title]="'职务'" syncTitle="true" [logo]="logo" [action]="action" [extra]="extra">
    <ng-template #logo>
        <img src="../../../../assets/image/info-logo.png" />
    </ng-template>
    <ng-template #action>
        <nz-button-group>
            <button nz-button>操作</button>
            <button nz-button>操作</button>
        </nz-button-group>
        <button nz-button nz-dropdown [nzDropdownMenu]="opMenu" class="mx-sm">
            <i nz-icon nzType="ellipsis"></i>
        </button>
        <nz-dropdown-menu #opMenu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item>选项一</li>
                <li nz-menu-item>选项二</li>
                <li nz-menu-item>选项三</li>
            </ul>
        </nz-dropdown-menu>
        <button nz-button [nzType]="'primary'">主操作</button>
    </ng-template>
    <ng-template #extra>
        <div nz-row>
            <div nz-col nzXs="24" nzSm="24">
                <p class="text-grey">状态</p>
                <p class="text-lg">待审批</p>
            </div>
        </div>
    </ng-template>
    <sv-container size="small" col="2">
        <sv label="名称">{{position.name}}</sv>
        <sv label="逻辑删除">{{position.isDel}}</sv>
        <sv label="状态">{{position.status}}</sv>
    </sv-container>
</page-header>
<nz-card [nzBordered]="false" [nzHoverable]="true">

    <sv-container size="large" title="用户分组">
        <st [columns]="positionGroupsColumns" [data]="positionGroups" [loading]="positionGroupsLoading">
            <ng-template st-row="status" let-i>
                <nz-badge *ngIf="i.status === 'success'" [nzStatus]="'success'" [nzText]="'成功'"></nz-badge>
                <nz-badge *ngIf="i.status !== 'success'" [nzStatus]="'processing'" [nzText]="'进行中'"></nz-badge>
            </ng-template>
        </st>
    </sv-container>
    <nz-divider></nz-divider>
</nz-card>
