<nz-card [nzBordered]="false" [nzLoading]="loading">
  <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container size="compact" gutter="24">
        <se label="角色" error="请选择角色" required>
        <nz-select [(ngModel)]="group.roleId" formControlName="roleId" [nzPlaceHolder]="'请选择角色'" [nzShowSearch]="true">
            <nz-option *ngFor="let role of roles" [nzLabel]="role.id" [nzValue]="role.id"></nz-option>
        </nz-select>
    </se>
    <se label="职位" error="请选择职位" required>
        <nz-select [(ngModel)]="group.positionId" formControlName="positionId" [nzPlaceHolder]="'请选择职务'" [nzShowSearch]="true">
            <nz-option *ngFor="let position of positions" [nzLabel]="position.id" [nzValue]="position.id"></nz-option>
        </nz-select>
    </se>
    <se label="组名" error="请输入组名" required>
      <input nz-input [(ngModel)]="group.name" formControlName="name" name="name" id="name" placeholder="组名" />
    </se>
    <se label="逻辑删除" error="请输入逻辑删除" required>
      <input nz-input [(ngModel)]="group.isDel" formControlName="isDel" name="isDel" id="isDel" placeholder="逻辑删除" />
    </se>
    <se>
      <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="loading">提交</button>
      <button nz-button class="ml-sm" type="button" (click)="close($event)">取消</button>
    </se>
  </form>
</nz-card>
