<page-header [title]="'区域'" syncTitle="true" [logo]="logo" [action]="action" [extra]="extra">
    <ng-template #logo>
        <img src="../../../../assets/image/info-logo.png" />
    </ng-template>
    <ng-template #action>
        <nz-button-group>
            <button nz-button>操作</button>
            <button nz-button>操作</button>
        </nz-button-group>
        <button nz-button nz-dropdown [nzDropdownMenu]="opMenu" class="mx-sm">
            <i nz-icon nzType="ellipsis"></i>
        </button>
        <nz-dropdown-menu #opMenu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item>选项一</li>
                <li nz-menu-item>选项二</li>
                <li nz-menu-item>选项三</li>
            </ul>
        </nz-dropdown-menu>
        <button nz-button [nzType]="'primary'">主操作</button>
    </ng-template>
    <ng-template #extra>
        <div nz-row>
            <div nz-col nzXs="24" nzSm="24">
                <p class="text-grey">状态</p>
                <p class="text-lg">待审批</p>
            </div>
        </div>
    </ng-template>
    <sv-container size="small" col="2">
        <sv label="名称">{{area.name}}</sv>
        <sv label="">{{area.isDel}}</sv>
        <sv label="纬度">{{area.centerLat}}</sv>
        <sv label="经度">{{area.centerLng}}</sv>
        <sv label="父节点">{{area.parentId}}</sv>
    </sv-container>
</page-header>
<nz-card [nzBordered]="false" [nzHoverable]="true">
    <sv-container size="large" title="父节点">
        <sv label="名称">{{area.parent?.name}}</sv>
        <sv label="">{{area.parent?.isDel}}</sv>
        <sv label="纬度">{{area.parent?.centerLat}}</sv>
        <sv label="经度">{{area.parent?.centerLng}}</sv>
        <sv label="父节点">{{area.parent?.parentId}}</sv>
    </sv-container>
    <nz-divider></nz-divider>

    <sv-container size="large" title="区域">
        <st [columns]="parentAreasColumns" [data]="parentAreas" [loading]="parentAreasLoading">
            <ng-template st-row="status" let-i>
                <nz-badge *ngIf="i.status === 'success'" [nzStatus]="'success'" [nzText]="'成功'"></nz-badge>
                <nz-badge *ngIf="i.status !== 'success'" [nzStatus]="'processing'" [nzText]="'进行中'"></nz-badge>
            </ng-template>
        </st>
    </sv-container>
    <nz-divider></nz-divider>
    <sv-container size="large" title="设备">
        <st [columns]="areaDevicesColumns" [data]="areaDevices" [loading]="areaDevicesLoading">
            <ng-template st-row="status" let-i>
                <nz-badge *ngIf="i.status === 'success'" [nzStatus]="'success'" [nzText]="'成功'"></nz-badge>
                <nz-badge *ngIf="i.status !== 'success'" [nzStatus]="'processing'" [nzText]="'进行中'"></nz-badge>
            </ng-template>
        </st>
    </sv-container>
    <nz-divider></nz-divider>
    <sv-container size="large" title="测试多对多表">
        <st [columns]="areaManyTablesColumns" [data]="areaManyTables" [loading]="areaManyTablesLoading">
            <ng-template st-row="status" let-i>
                <nz-badge *ngIf="i.status === 'success'" [nzStatus]="'success'" [nzText]="'成功'"></nz-badge>
                <nz-badge *ngIf="i.status !== 'success'" [nzStatus]="'processing'" [nzText]="'进行中'"></nz-badge>
            </ng-template>
        </st>
    </sv-container>
    <nz-divider></nz-divider>
    <sv-container size="large" title="">
        <st [columns]="areaAccountHasAreasColumns" [data]="areaAccountHasAreas" [loading]="areaAccountHasAreasLoading">
            <ng-template st-row="status" let-i>
                <nz-badge *ngIf="i.status === 'success'" [nzStatus]="'success'" [nzText]="'成功'"></nz-badge>
                <nz-badge *ngIf="i.status !== 'success'" [nzStatus]="'processing'" [nzText]="'进行中'"></nz-badge>
            </ng-template>
        </st>
    </sv-container>
    <nz-divider></nz-divider>
</nz-card>
