<nz-card [nzBordered]="false">
  <form nz-form [formGroup]="searchForm" [nzLayout]="'inline'" (ngSubmit)="search()" class="search__form">
    <div nz-row [nzGutter]="{ xs: 6, sm: 6, md: 6, lg: 24, xl: 48, xxl: 48 }">
            <div nz-col nzMd="6" nzSm="12">
        <nz-form-item>
          <nz-form-label nzFor="nameLike">名称</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="positionVO.nameLike" formControlName="nameLike" name="nameLike" placeholder="请输入名称" id="nameLike" />
          </nz-form-control>
        </nz-form-item>
      </div>
        <div nz-col [nzSpan]="6">
          <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">
          <i nz-icon nzType="search"></i>
          <span>查询</span>
        </button>
        <button nz-button type="reset" (click)="reset()" class="mx-sm">
          <i nz-icon nzType="reset"></i>
          <span>重置</span>
        </button>
      </div>
    </div>
  </form>
    <div class="my-md">
      <button nz-button (click)="edit()" [nzType]="'primary'">
        <i nz-icon nzType="plus"></i>
        <span>新建</span>
      </button>
      <ng-container *ngIf="selectedRows.length > 0">
        <button nz-button (click)="st.clearCheck()">清空选择</button>
        <button nz-button>批量操作</button>
        <button nz-button nz-dropdown [nzDropdownMenu]="batchMenu" nzPlacement="bottomLeft">
            更多操作
          <i nz-icon nzType="down"></i>
        </button>
        <nz-dropdown-menu #batchMenu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="removeMul()">删除</li>
            <li nz-menu-item (click)="approval()">批量审批</li>
        </ul>
        </nz-dropdown-menu>
      </ng-container>
    </div>

    <st #st [columns]="columns" [data]="positions" [page]="page" [ps]="positionVO.pageSize" [total]="positionVO.totalCount"
        [loading]="loading" (change)="stChange($event)">
        <ng-template st-row="status" let-i>
            <nz-badge [nzStatus]="i.statusType" [nzText]="i.statusText"></nz-badge>
        </ng-template>
    </st>
</nz-card>
