<nz-card [nzBordered]="false" [nzLoading]="loading">
  <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container size="compact" gutter="24">
        <se label="密码" error="请输入密码" required>
      <input nz-input [(ngModel)]="account.password" formControlName="password" name="password" id="password" placeholder="密码" />
    </se>
    <se label="编码" error="请输入编码" required>
      <input nz-input [(ngModel)]="account.code" formControlName="code" name="code" id="code" placeholder="编码" />
    </se>
    <se label="手机号" error="请输入手机号" required>
      <input nz-input [(ngModel)]="account.mobile" formControlName="mobile" name="mobile" id="mobile" placeholder="手机号" />
    </se>
    <se label="姓名" error="请输入姓名" required>
      <input nz-input [(ngModel)]="account.name" formControlName="name" name="name" id="name" placeholder="姓名" />
    </se>
    <se label="逻辑删除" error="请输入逻辑删除" required>
      <input nz-input [(ngModel)]="account.isDel" formControlName="isDel" name="isDel" id="isDel" placeholder="逻辑删除" />
    </se>
    <se label="账号" error="请输入账号" required>
      <input nz-input [(ngModel)]="account.account" formControlName="account" name="account" id="account" placeholder="账号" />
    </se>
    <se label="状态 0 正常 1 冻结" error="请输入状态 0 正常 1 冻结" required>
      <input nz-input [(ngModel)]="account.status" formControlName="status" name="status" id="status" placeholder="状态 0 正常 1 冻结" />
    </se>
    <se>
      <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="loading">提交</button>
      <button nz-button class="ml-sm" type="button" (click)="close($event)">取消</button>
    </se>
  </form>
</nz-card>
