<page-header [title]="''" syncTitle="true" [logo]="logo" [action]="action" [extra]="extra">
    <ng-template #logo>
        <img src="../../../../assets/image/info-logo.png" />
    </ng-template>
    <ng-template #action>
        <nz-button-group>
            <button nz-button>操作</button>
            <button nz-button>操作</button>
        </nz-button-group>
        <button nz-button nz-dropdown [nzDropdownMenu]="opMenu" class="mx-sm">
            <i nz-icon nzType="ellipsis"></i>
        </button>
        <nz-dropdown-menu #opMenu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item>选项一</li>
                <li nz-menu-item>选项二</li>
                <li nz-menu-item>选项三</li>
            </ul>
        </nz-dropdown-menu>
        <button nz-button [nzType]="'primary'">主操作</button>
    </ng-template>
    <ng-template #extra>
        <div nz-row>
            <div nz-col nzXs="24" nzSm="24">
                <p class="text-grey">状态</p>
                <p class="text-lg">待审批</p>
            </div>
        </div>
    </ng-template>
    <sv-container size="small" col="2">
    </sv-container>
</page-header>
<nz-card [nzBordered]="false" [nzHoverable]="true">
    <sv-container size="large" title="">
        <sv label="名称">{{accountHasArea.area?.name}}</sv>
        <sv label="">{{accountHasArea.area?.isDel}}</sv>
        <sv label="纬度">{{accountHasArea.area?.centerLat}}</sv>
        <sv label="经度">{{accountHasArea.area?.centerLng}}</sv>
        <sv label="父节点">{{accountHasArea.area?.parentId}}</sv>
    </sv-container>
    <nz-divider></nz-divider>
    <sv-container size="large" title="">
        <sv label="密码">{{accountHasArea.account?.password}}</sv>
        <sv label="编码">{{accountHasArea.account?.code}}</sv>
        <sv label="手机号">{{accountHasArea.account?.mobile}}</sv>
        <sv label="姓名">{{accountHasArea.account?.name}}</sv>
        <sv label="逻辑删除">{{accountHasArea.account?.isDel}}</sv>
        <sv label="账号">{{accountHasArea.account?.account}}</sv>
        <sv label="状态 0 正常 1 冻结">{{accountHasArea.account?.status}}</sv>
    </sv-container>
    <nz-divider></nz-divider>

</nz-card>
