<div class="alain-default__progress-bar" *ngIf="isFetching"></div>
<layout-header class="alain-default__header"></layout-header>
<layout-sidebar class="alain-default__aside"></layout-sidebar>
<section class="alain-default__content">
  <reuse-tab></reuse-tab>
  <router-outlet></router-outlet>
</section>
<!-- <ng-template #settingHost></ng-template> -->
