<nz-card [nzBordered]="false" [nzLoading]="loading">
  <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container size="compact" gutter="24">
        <se label="用户" error="请选择用户" required>
        <nz-select [(ngModel)]="powerHasGroup.groupId" formControlName="groupId" [nzPlaceHolder]="'请选择用户分组'" [nzShowSearch]="true">
            <nz-option *ngFor="let group of groups" [nzLabel]="group.id" [nzValue]="group.id"></nz-option>
        </nz-select>
    </se>
    <se label="分组" error="请选择分组" required>
        <nz-select [(ngModel)]="powerHasGroup.powerId" formControlName="powerId" [nzPlaceHolder]="'请选择权限'" [nzShowSearch]="true">
            <nz-option *ngFor="let power of powers" [nzLabel]="power.id" [nzValue]="power.id"></nz-option>
        </nz-select>
    </se>
    <se label="逻辑删除" error="请输入逻辑删除" required>
      <input nz-input [(ngModel)]="powerHasGroup.isDel" formControlName="isDel" name="isDel" id="isDel" placeholder="逻辑删除" />
    </se>
    <se>
      <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="loading">提交</button>
      <button nz-button class="ml-sm" type="button" (click)="close($event)">取消</button>
    </se>
  </form>
</nz-card>
