<nz-card [nzBordered]="false" [nzLoading]="loading">
  <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container size="compact" gutter="24">
        <se label="设备编码" error="请选择设备编码" required>
        <nz-select [(ngModel)]="probeGroup.deviceCode" formControlName="deviceCode" [nzPlaceHolder]="'请选择设备'" [nzShowSearch]="true">
            <nz-option *ngFor="let device of devices" [nzLabel]="device.code" [nzValue]="device.code"></nz-option>
        </nz-select>
    </se>
    <se label="编码" error="请输入编码" required>
      <input nz-input [(ngModel)]="probeGroup.code" formControlName="code" name="code" id="code" placeholder="编码" />
    </se>
    <se label="排序编号 从1开始" error="请输入排序编号 从1开始" required>
      <input nz-input [(ngModel)]="probeGroup.sortNum" formControlName="sortNum" name="sortNum" id="sortNum" placeholder="排序编号 从1开始" />
    </se>
    <se label="分组名称" error="请输入分组名称" required>
      <input nz-input [(ngModel)]="probeGroup.name" formControlName="name" name="name" id="name" placeholder="分组名称" />
    </se>
    <se label="" error="请输入" required>
      <input nz-input [(ngModel)]="probeGroup.isDel" formControlName="isDel" name="isDel" id="isDel" placeholder="" />
    </se>
    <se label="设备业务编码" error="请输入设备业务编码" required>
      <input nz-input [(ngModel)]="probeGroup.deviceBusCode" formControlName="deviceBusCode" name="deviceBusCode" id="deviceBusCode" placeholder="设备业务编码" />
    </se>
    <se>
      <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="loading">提交</button>
      <button nz-button class="ml-sm" type="button" (click)="close($event)">取消</button>
    </se>
  </form>
</nz-card>
