<page-header [title]="'报警数据'" syncTitle="true" [logo]="logo" [action]="action" [extra]="extra">
    <ng-template #logo>
        <img src="../../../../assets/image/info-logo.png" />
    </ng-template>
    <ng-template #action>
        <nz-button-group>
            <button nz-button>操作</button>
            <button nz-button>操作</button>
        </nz-button-group>
        <button nz-button nz-dropdown [nzDropdownMenu]="opMenu" class="mx-sm">
            <i nz-icon nzType="ellipsis"></i>
        </button>
        <nz-dropdown-menu #opMenu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item>选项一</li>
                <li nz-menu-item>选项二</li>
                <li nz-menu-item>选项三</li>
            </ul>
        </nz-dropdown-menu>
        <button nz-button [nzType]="'primary'">主操作</button>
    </ng-template>
    <ng-template #extra>
        <div nz-row>
            <div nz-col nzXs="24" nzSm="24">
                <p class="text-grey">状态</p>
                <p class="text-lg">待审批</p>
            </div>
        </div>
    </ng-template>
    <sv-container size="small" col="2">
        <sv label="探头排序号码">{{warnningData.probeSortNum}}</sv>
        <sv label="编码">{{warnningData.code}}</sv>
        <sv label="设备业务编码">{{warnningData.deviceCode}}</sv>
        <sv label="温度数据">{{warnningData.temperature}}</sv>
        <sv label="">{{warnningData.isDel}}</sv>
        <sv label="温度数据编码">{{warnningData.temperatureCode}}</sv>
        <sv label="上传时间">{{warnningData.time}}</sv>
        <sv label="是否报警">{{warnningData.isWarnning}}</sv>
        <sv label="分组排序号码">{{warnningData.groupSortNum}}</sv>
    </sv-container>
</page-header>
<nz-card [nzBordered]="false" [nzHoverable]="true">

</nz-card>
