<page-header [title]="'设备'" syncTitle="true" [logo]="logo" [action]="action" [extra]="extra">
    <ng-template #logo>
        <img src="../../../../assets/image/info-logo.png" />
    </ng-template>
    <ng-template #action>
        <nz-button-group>
            <button nz-button>操作</button>
            <button nz-button>操作</button>
        </nz-button-group>
        <button nz-button nz-dropdown [nzDropdownMenu]="opMenu" class="mx-sm">
            <i nz-icon nzType="ellipsis"></i>
        </button>
        <nz-dropdown-menu #opMenu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item>选项一</li>
                <li nz-menu-item>选项二</li>
                <li nz-menu-item>选项三</li>
            </ul>
        </nz-dropdown-menu>
        <button nz-button [nzType]="'primary'">主操作</button>
    </ng-template>
    <ng-template #extra>
        <div nz-row>
            <div nz-col nzXs="24" nzSm="24">
                <p class="text-grey">状态</p>
                <p class="text-lg">待审批</p>
            </div>
        </div>
    </ng-template>
    <sv-container size="small" col="2">
        <sv label="经度">{{device.gpsLng}}</sv>
        <sv label="系统code">{{device.code}}</sv>
        <sv label="分组数量">{{device.groupCount}}</sv>
        <sv label="设备编码">{{device.deviceCode}}</sv>
        <sv label="设备名称">{{device.name}}</sv>
        <sv label="">{{device.isDel}}</sv>
        <sv label="探头数量">{{device.probeCount}}</sv>
        <sv label="纬度">{{device.gpsLat}}</sv>
        <sv label="设备类型">{{device.type}}</sv>
        <sv label="所在区域">{{device.areaId}}</sv>
        <sv label="状态">{{device.status}}</sv>
    </sv-container>
</page-header>
<nz-card [nzBordered]="false" [nzHoverable]="true">
    <sv-container size="large" title="所在区域">
        <sv label="名称">{{device.area?.name}}</sv>
        <sv label="">{{device.area?.isDel}}</sv>
        <sv label="纬度">{{device.area?.centerLat}}</sv>
        <sv label="经度">{{device.area?.centerLng}}</sv>
        <sv label="父节点">{{device.area?.parentId}}</sv>
    </sv-container>
    <nz-divider></nz-divider>

    <sv-container size="large" title="探头分组">
        <st [columns]="deviceProbeGroupsColumns" [data]="deviceProbeGroups" [loading]="deviceProbeGroupsLoading">
            <ng-template st-row="status" let-i>
                <nz-badge *ngIf="i.status === 'success'" [nzStatus]="'success'" [nzText]="'成功'"></nz-badge>
                <nz-badge *ngIf="i.status !== 'success'" [nzStatus]="'processing'" [nzText]="'进行中'"></nz-badge>
            </ng-template>
        </st>
    </sv-container>
    <nz-divider></nz-divider>
    <sv-container size="large" title="探头">
        <st [columns]="deviceProbesColumns" [data]="deviceProbes" [loading]="deviceProbesLoading">
            <ng-template st-row="status" let-i>
                <nz-badge *ngIf="i.status === 'success'" [nzStatus]="'success'" [nzText]="'成功'"></nz-badge>
                <nz-badge *ngIf="i.status !== 'success'" [nzStatus]="'processing'" [nzText]="'进行中'"></nz-badge>
            </ng-template>
        </st>
    </sv-container>
    <nz-divider></nz-divider>
</nz-card>
