<nz-card [nzBordered]="false" [nzLoading]="loading">
  <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container size="compact" gutter="24">
        <se label="父节点" error="请选择父节点" required>
        <nz-select [(ngModel)]="area.parentId" formControlName="parentId" [nzPlaceHolder]="'请选择区域'" [nzShowSearch]="true">
            <nz-option *ngFor="let parent of parents" [nzLabel]="parent.id" [nzValue]="parent.id"></nz-option>
        </nz-select>
    </se>
    <se label="名称" error="请输入名称" required>
      <input nz-input [(ngModel)]="area.name" formControlName="name" name="name" id="name" placeholder="名称" />
    </se>
    <se label="" error="请输入" required>
      <input nz-input [(ngModel)]="area.isDel" formControlName="isDel" name="isDel" id="isDel" placeholder="" />
    </se>
    <se label="纬度" error="请输入纬度" required>
      <input nz-input [(ngModel)]="area.centerLat" formControlName="centerLat" name="centerLat" id="centerLat" placeholder="纬度" />
    </se>
    <se label="经度" error="请输入经度" required>
      <input nz-input [(ngModel)]="area.centerLng" formControlName="centerLng" name="centerLng" id="centerLng" placeholder="经度" />
    </se>
    <se>
      <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="loading">提交</button>
      <button nz-button class="ml-sm" type="button" (click)="close($event)">取消</button>
    </se>
  </form>
</nz-card>
