<nz-card [nzBordered]="false" [nzLoading]="loading">
  <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container size="compact" gutter="24">
        <se label="" error="请选择" required>
        <nz-select [(ngModel)]="accountHasArea.areaId" formControlName="areaId" [nzPlaceHolder]="'请选择区域'" [nzShowSearch]="true">
            <nz-option *ngFor="let area of areas" [nzLabel]="area.id" [nzValue]="area.id"></nz-option>
        </nz-select>
    </se>
    <se label="" error="请选择" required>
        <nz-select [(ngModel)]="accountHasArea.accountId" formControlName="accountId" [nzPlaceHolder]="'请选择用户账号'" [nzShowSearch]="true">
            <nz-option *ngFor="let account of accounts" [nzLabel]="account.id" [nzValue]="account.id"></nz-option>
        </nz-select>
    </se>
    <se>
      <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="loading">提交</button>
      <button nz-button class="ml-sm" type="button" (click)="close($event)">取消</button>
    </se>
  </form>
</nz-card>
