<nz-card [nzBordered]="false" [nzLoading]="loading">
  <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container size="compact" gutter="24">
        <se label="父节点" error="请选择父节点" required>
        <nz-select [(ngModel)]="power.parentId" formControlName="parentId" [nzPlaceHolder]="'请选择权限'" [nzShowSearch]="true">
            <nz-option *ngFor="let parent of parents" [nzLabel]="parent.id" [nzValue]="parent.id"></nz-option>
        </nz-select>
    </se>
    <se label="名称" error="请输入名称" required>
      <input nz-input [(ngModel)]="power.name" formControlName="name" name="name" id="name" placeholder="名称" />
    </se>
    <se label="逻辑删除" error="请输入逻辑删除" required>
      <input nz-input [(ngModel)]="power.isDel" formControlName="isDel" name="isDel" id="isDel" placeholder="逻辑删除" />
    </se>
    <se label="类型 1 展示类  2 操作类" error="请输入类型 1 展示类  2 操作类" required>
      <input nz-input [(ngModel)]="power.type" formControlName="type" name="type" id="type" placeholder="类型 1 展示类  2 操作类" />
    </se>
    <se label="访问地址" error="请输入访问地址" required>
      <input nz-input [(ngModel)]="power.url" formControlName="url" name="url" id="url" placeholder="访问地址" />
    </se>
    <se label="访问key" error="请输入访问key" required>
      <input nz-input [(ngModel)]="power.key" formControlName="key" name="key" id="key" placeholder="访问key" />
    </se>
    <se>
      <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="loading">提交</button>
      <button nz-button class="ml-sm" type="button" (click)="close($event)">取消</button>
    </se>
  </form>
</nz-card>
