<nz-card [nzBordered]="false" [nzLoading]="loading">
  <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container size="compact" gutter="24">
        <se label="探头排序号码" error="请输入探头排序号码" required>
      <input nz-input [(ngModel)]="temperature.probeSortNum" formControlName="probeSortNum" name="probeSortNum" id="probeSortNum" placeholder="探头排序号码" />
    </se>
    <se label="编码" error="请输入编码" required>
      <input nz-input [(ngModel)]="temperature.code" formControlName="code" name="code" id="code" placeholder="编码" />
    </se>
    <se label="设备编码" error="请输入设备编码" required>
      <input nz-input [(ngModel)]="temperature.deviceCode" formControlName="deviceCode" name="deviceCode" id="deviceCode" placeholder="设备编码" />
    </se>
    <se label="温度数据" error="请输入温度数据" required>
      <input nz-input [(ngModel)]="temperature.temperature" formControlName="temperature" name="temperature" id="temperature" placeholder="温度数据" />
    </se>
    <se label="报警温度镜像" error="请输入报警温度镜像" required>
      <input nz-input [(ngModel)]="temperature.warnningTemperature" formControlName="warnningTemperature" name="warnningTemperature" id="warnningTemperature" placeholder="报警温度镜像" />
    </se>
    <se label="" error="请输入" required>
      <input nz-input [(ngModel)]="temperature.isDel" formControlName="isDel" name="isDel" id="isDel" placeholder="" />
    </se>
    <se label="上传时间" error="请输入上传时间" required>
      <nz-date-picker [(ngModel)]="temperature.time" [nzShowTime]="true" formControlName="time" name="time" id="time" placeholder="上传时间"></nz-date-picker>
    </se>
    <se label="是否报警" error="请输入是否报警" required>
      <input nz-input [(ngModel)]="temperature.isWarnning" formControlName="isWarnning" name="isWarnning" id="isWarnning" placeholder="是否报警" />
    </se>
    <se label="分组排序号码" error="请输入分组排序号码" required>
      <input nz-input [(ngModel)]="temperature.groupSortNum" formControlName="groupSortNum" name="groupSortNum" id="groupSortNum" placeholder="分组排序号码" />
    </se>
    <se>
      <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="loading">提交</button>
      <button nz-button class="ml-sm" type="button" (click)="close($event)">取消</button>
    </se>
  </form>
</nz-card>
