<nz-card [nzBordered]="false" [nzLoading]="loading">
  <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container size="compact" gutter="24">
        <se label="分组" error="请选择分组" required>
        <nz-select [(ngModel)]="probe.groupCode" formControlName="groupCode" [nzPlaceHolder]="'请选择探头分组'" [nzShowSearch]="true">
            <nz-option *ngFor="let group of groups" [nzLabel]="group.code" [nzValue]="group.code"></nz-option>
        </nz-select>
    </se>
    <se label="设备编码" error="请选择设备编码" required>
        <nz-select [(ngModel)]="probe.deviceCode" formControlName="deviceCode" [nzPlaceHolder]="'请选择设备'" [nzShowSearch]="true">
            <nz-option *ngFor="let device of devices" [nzLabel]="device.code" [nzValue]="device.code"></nz-option>
        </nz-select>
    </se>
    <se label="编码" error="请输入编码" required>
      <input nz-input [(ngModel)]="probe.code" formControlName="code" name="code" id="code" placeholder="编码" />
    </se>
    <se label="分组序号 0代表没有分组" error="请输入分组序号 0代表没有分组" required>
      <input nz-input [(ngModel)]="probe.groupNum" formControlName="groupNum" name="groupNum" id="groupNum" placeholder="分组序号 0代表没有分组" />
    </se>
    <se label="排序编号 从1开始" error="请输入排序编号 从1开始" required>
      <input nz-input [(ngModel)]="probe.sortNum" formControlName="sortNum" name="sortNum" id="sortNum" placeholder="排序编号 从1开始" />
    </se>
    <se label="名称" error="请输入名称" required>
      <input nz-input [(ngModel)]="probe.name" formControlName="name" name="name" id="name" placeholder="名称" />
    </se>
    <se label="" error="请输入" required>
      <input nz-input [(ngModel)]="probe.isDel" formControlName="isDel" name="isDel" id="isDel" placeholder="" />
    </se>
    <se label="设备业务编码" error="请输入设备业务编码" required>
      <input nz-input [(ngModel)]="probe.deviceBusCode" formControlName="deviceBusCode" name="deviceBusCode" id="deviceBusCode" placeholder="设备业务编码" />
    </se>
    <se>
      <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="loading">提交</button>
      <button nz-button class="ml-sm" type="button" (click)="close($event)">取消</button>
    </se>
  </form>
</nz-card>
