<nz-card [nzBordered]="false" [nzLoading]="loading">
  <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container size="compact" gutter="24">
        <se label="编码" error="请输入编码" required>
      <input nz-input [(ngModel)]="supplier.code" formControlName="code" name="code" id="code" placeholder="编码" />
    </se>
    <se label="创建时间" error="请输入创建时间" required>
      <nz-date-picker [(ngModel)]="supplier.createTime" [nzShowTime]="true" formControlName="createTime" name="createTime" id="createTime" placeholder="创建时间"></nz-date-picker>
    </se>
    <se label="名称" error="请输入名称" required>
      <input nz-input [(ngModel)]="supplier.name" formControlName="name" name="name" id="name" placeholder="名称" />
    </se>
    <se label="" error="请输入" required>
      <input nz-input [(ngModel)]="supplier.isDel" formControlName="isDel" name="isDel" id="isDel" placeholder="" />
    </se>
    <se label="业务编码" error="请输入业务编码" required>
      <input nz-input [(ngModel)]="supplier.businessCode" formControlName="businessCode" name="businessCode" id="businessCode" placeholder="业务编码" />
    </se>
    <se label="状态" error="请输入状态" required>
      <input nz-input [(ngModel)]="supplier.status" formControlName="status" name="status" id="status" placeholder="状态" />
    </se>
    <se>
      <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="loading">提交</button>
      <button nz-button class="ml-sm" type="button" (click)="close($event)">取消</button>
    </se>
  </form>
</nz-card>
