<nz-card [nzBordered]="false" [nzLoading]="loading">
  <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container size="compact" gutter="24">
        <se label="" error="请输入" required>
      <input nz-input [(ngModel)]="systmSetting.isDel" formControlName="isDel" name="isDel" id="isDel" placeholder="" />
    </se>
    <se label="报警温度" error="请输入报警温度" required>
      <input nz-input [(ngModel)]="systmSetting.temperatureWarnning" formControlName="temperatureWarnning" name="temperatureWarnning" id="temperatureWarnning" placeholder="报警温度" />
    </se>
    <se>
      <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="loading">提交</button>
      <button nz-button class="ml-sm" type="button" (click)="close($event)">取消</button>
    </se>
  </form>
</nz-card>
