<page-header [title]="'探头'" syncTitle="true" [logo]="logo" [action]="action" [extra]="extra">
    <ng-template #logo>
        <img src="../../../../assets/image/info-logo.png" />
    </ng-template>
    <ng-template #action>
        <nz-button-group>
            <button nz-button>操作</button>
            <button nz-button>操作</button>
        </nz-button-group>
        <button nz-button nz-dropdown [nzDropdownMenu]="opMenu" class="mx-sm">
            <i nz-icon nzType="ellipsis"></i>
        </button>
        <nz-dropdown-menu #opMenu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item>选项一</li>
                <li nz-menu-item>选项二</li>
                <li nz-menu-item>选项三</li>
            </ul>
        </nz-dropdown-menu>
        <button nz-button [nzType]="'primary'">主操作</button>
    </ng-template>
    <ng-template #extra>
        <div nz-row>
            <div nz-col nzXs="24" nzSm="24">
                <p class="text-grey">状态</p>
                <p class="text-lg">待审批</p>
            </div>
        </div>
    </ng-template>
    <sv-container size="small" col="2">
        <sv label="编码">{{probe.code}}</sv>
        <sv label="分组">{{probe.groupCode}}</sv>
        <sv label="分组序号 0代表没有分组">{{probe.groupNum}}</sv>
        <sv label="设备编码">{{probe.deviceCode}}</sv>
        <sv label="排序编号 从1开始">{{probe.sortNum}}</sv>
        <sv label="名称">{{probe.name}}</sv>
        <sv label="">{{probe.isDel}}</sv>
        <sv label="设备业务编码">{{probe.deviceBusCode}}</sv>
    </sv-container>
</page-header>
<nz-card [nzBordered]="false" [nzHoverable]="true">
    <sv-container size="large" title="分组">
        <sv label="编码">{{probe.group?.code}}</sv>
        <sv label="设备编码">{{probe.group?.deviceCode}}</sv>
        <sv label="排序编号 从1开始">{{probe.group?.sortNum}}</sv>
        <sv label="分组名称">{{probe.group?.name}}</sv>
        <sv label="">{{probe.group?.isDel}}</sv>
        <sv label="设备业务编码">{{probe.group?.deviceBusCode}}</sv>
    </sv-container>
    <nz-divider></nz-divider>
    <sv-container size="large" title="设备编码">
        <sv label="经度">{{probe.device?.gpsLng}}</sv>
        <sv label="系统code">{{probe.device?.code}}</sv>
        <sv label="分组数量">{{probe.device?.groupCount}}</sv>
        <sv label="设备编码">{{probe.device?.deviceCode}}</sv>
        <sv label="设备名称">{{probe.device?.name}}</sv>
        <sv label="">{{probe.device?.isDel}}</sv>
        <sv label="探头数量">{{probe.device?.probeCount}}</sv>
        <sv label="纬度">{{probe.device?.gpsLat}}</sv>
        <sv label="设备类型">{{probe.device?.type}}</sv>
        <sv label="所在区域">{{probe.device?.areaId}}</sv>
        <sv label="状态">{{probe.device?.status}}</sv>
    </sv-container>
    <nz-divider></nz-divider>

</nz-card>
