<nz-card [nzBordered]="false" [nzLoading]="loading">
  <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container size="compact" gutter="24">
        <se label="角色名称" error="请输入角色名称" required>
      <input nz-input [(ngModel)]="role.name" formControlName="name" name="name" id="name" placeholder="角色名称" />
    </se>
    <se label="逻辑删除" error="请输入逻辑删除" required>
      <input nz-input [(ngModel)]="role.isDel" formControlName="isDel" name="isDel" id="isDel" placeholder="逻辑删除" />
    </se>
    <se>
      <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="loading">提交</button>
      <button nz-button class="ml-sm" type="button" (click)="close($event)">取消</button>
    </se>
  </form>
</nz-card>
