<page-header [title]="'供应商'" syncTitle="true" [logo]="logo" [action]="action" [extra]="extra">
    <ng-template #logo>
        <img src="../../../../assets/image/info-logo.png" />
    </ng-template>
    <ng-template #action>
        <nz-button-group>
            <button nz-button>操作</button>
            <button nz-button>操作</button>
        </nz-button-group>
        <button nz-button nz-dropdown [nzDropdownMenu]="opMenu" class="mx-sm">
            <i nz-icon nzType="ellipsis"></i>
        </button>
        <nz-dropdown-menu #opMenu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item>选项一</li>
                <li nz-menu-item>选项二</li>
                <li nz-menu-item>选项三</li>
            </ul>
        </nz-dropdown-menu>
        <button nz-button [nzType]="'primary'">主操作</button>
    </ng-template>
    <ng-template #extra>
        <div nz-row>
            <div nz-col nzXs="24" nzSm="24">
                <p class="text-grey">状态</p>
                <p class="text-lg">待审批</p>
            </div>
        </div>
    </ng-template>
    <sv-container size="small" col="2">
        <sv label="编码">{{supplier.code}}</sv>
        <sv label="创建时间">{{supplier.createTime}}</sv>
        <sv label="名称">{{supplier.name}}</sv>
        <sv label="">{{supplier.isDel}}</sv>
        <sv label="业务编码">{{supplier.businessCode}}</sv>
        <sv label="状态">{{supplier.status}}</sv>
    </sv-container>
</page-header>
<nz-card [nzBordered]="false" [nzHoverable]="true">

</nz-card>
