<page-header [title]="'权限分组多对多'" syncTitle="true" [logo]="logo" [action]="action" [extra]="extra">
    <ng-template #logo>
        <img src="../../../../assets/image/info-logo.png" />
    </ng-template>
    <ng-template #action>
        <nz-button-group>
            <button nz-button>操作</button>
            <button nz-button>操作</button>
        </nz-button-group>
        <button nz-button nz-dropdown [nzDropdownMenu]="opMenu" class="mx-sm">
            <i nz-icon nzType="ellipsis"></i>
        </button>
        <nz-dropdown-menu #opMenu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item>选项一</li>
                <li nz-menu-item>选项二</li>
                <li nz-menu-item>选项三</li>
            </ul>
        </nz-dropdown-menu>
        <button nz-button [nzType]="'primary'">主操作</button>
    </ng-template>
    <ng-template #extra>
        <div nz-row>
            <div nz-col nzXs="24" nzSm="24">
                <p class="text-grey">状态</p>
                <p class="text-lg">待审批</p>
            </div>
        </div>
    </ng-template>
    <sv-container size="small" col="2">
        <sv label="逻辑删除">{{powerHasGroup.isDel}}</sv>
    </sv-container>
</page-header>
<nz-card [nzBordered]="false" [nzHoverable]="true">
    <sv-container size="large" title="用户">
        <sv label="组名">{{powerHasGroup.group?.name}}</sv>
        <sv label="逻辑删除">{{powerHasGroup.group?.isDel}}</sv>
        <sv label="角色">{{powerHasGroup.group?.roleId}}</sv>
        <sv label="职位">{{powerHasGroup.group?.positionId}}</sv>
    </sv-container>
    <nz-divider></nz-divider>
    <sv-container size="large" title="分组">
        <sv label="父节点">{{powerHasGroup.power?.parentId}}</sv>
        <sv label="名称">{{powerHasGroup.power?.name}}</sv>
        <sv label="逻辑删除">{{powerHasGroup.power?.isDel}}</sv>
        <sv label="类型 1 展示类  2 操作类">{{powerHasGroup.power?.type}}</sv>
        <sv label="访问地址">{{powerHasGroup.power?.url}}</sv>
        <sv label="访问key">{{powerHasGroup.power?.key}}</sv>
    </sv-container>
    <nz-divider></nz-divider>

</nz-card>
